# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo

# Library
lib/build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/

# Tool caches
.ruff_cache/

build/
dist/
*.egg-info/
*.egg
MANIFEST
pdmet/lib/build/


# Custom ignores incase tests are run
*.win
*.h5
UNK*
